[submodule "vendor/doctest"]
	path = vendor/doctest
	url = git@github.com:onqtam/doctest.git
	branch = 2.4.0
[submodule "vendor/tomlplusplus/tomlplusplus"]
	path = vendor/tomlplusplus/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
	branch = v2.1.0
